.container {
    width: 36rem;
    height: 32rem;
    margin: 0 auto;
    background-color: aqua;
}

#saker:hover {
    transform: scale(1.4);
    
}

#god:hover {
    transform: scale(1.4);
   
}

#inte:hover {
    transform: scale(1.3);
   
}

#naring:hover {
    transform: scale(1.3);
   
}

#miljo:hover {
    transform: scale(1.4);
    
}

#trivsam:hover {
    transform: scale(1.3);
    
}